bitsandbytes
tf-keras
rich==13.7.1
langchain-community==0.2.16
langchain-core==0.2.38
langchain-text-splitters
spacy==3.8.0
pynvml==11.5.0
transformers
peft
accelerate
datasets
trl
sentencepiece
docx2txt
psutil
pypdf
